{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  <a href="../assets/CV.pdf" download>
  <h4 style="text-align: center;">Download Link</h4>
 </a>

  {% include contact.html %}
  <!--<hr>
  
  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}-->

  <hr>
  {% include language.html %}
  <hr>

  {% include interests.html %}
  <hr>
  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}
  

</div><!--//sidebar-wrapper-->
