{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>




  <div class="skillset">
   
   <table style=" border: none; margin-bottom: 50px; border-collapse: separate;
  border-spacing: 20px; width: 95%">
  <tr style="padding-bottom: 50em;">
    <th style="height: 50px;padding-right: 75px;">Programming</th>
    <th style="height: 50px;padding-right: 75px;">Mainly working using C++</th>   
  </tr>  
  <tr>
    <th style="height: 50px;padding-right: 75px;">Graphics API's</th>
    <th style="height: 50px;padding-right: 75px;">Learned about graphics API using OpenGL 3.X 
      <br>Did some personal research experiments using OpenGL 4.x (including a small pathtracer using handwritten compute shaders)
      <br>Daily working with DX11/HLSL
      <br>Learning Vulkan in my spare time
    </th>   
  </tr>
  <tr>
    <th style="height: 50px;padding-right: 75px;">Game engines</th>
    <th style="height: 50px;padding-right: 75px;">Worked with Unreal Engine 4(Published game), Unity3D (Small projects personal choice)</th>       
  </tr>
  <tr>
    <th style="height: 50px;padding-right: 75px;">Source Control</th>
    <th style="height: 50px;padding-right: 75px;">Mainly using P4</th>   
  </tr>
</table> 


  </div>

</section><!--//skills-section-->
{% endif %}
