@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";


/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color:#CCCCCC;
  &,
  &:visited {
    color:#AAAAAA;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color:#E87400;
	margin:0 0 10px;
    line-height: $base-line-height;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: #333333;
    border: 1px solid #E87400;
    border-radius: 5px;
    text-align: right;
	z-index: 10;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: #0088B2
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
 
}

.footer-col-1 {
  width: -webkit-calc(50%);
  width:         calc(50%);
}

.footer-col-2 {
  width: -webkit-calc(50%);
  width:         calc(50%);
}

.footer-col-3 {
  width: -webkit-calc(50%);
  width:         calc(50%);
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
  
   
}



.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
  text-align:center;
}
.Container{
  
  border: 1px solid orange;
  border-radius: 50px;
  display: inline-block;
  
  
  margin: 15px;
  margin-left:0px;
  
  height: 400px; 
  
  min-width: 250px;
  max-width: 400px;
    
  /* Width Height Transition */
  -webkit-transition-property: width, height;
  transition-property: width, height;
  transition-duration: 0.25s;
  
   
  
  h3{
	padding-top: 20px;	
	text-align:center;
  }
  
  span{    
	padding-left: 5px;
	margin:auto;
	display:table; 
  }
  
  img{
	display: block;
    margin:auto auto;
    
	
    height: 75%;
	
	min-width: 75%;
    max-width: 100%;
  
	
	border-radius: 50%;
	opacity:0.5;	
	
	-webkit-transition: opacity 0.25s ease-in-out;
       -moz-transition: opacity 0.25s ease-in-out;
        -ms-transition: opacity 0.25s ease-in-out;
         -o-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;
	
  }
  img:hover{
	opacity:1.0;
  }
}

.Container:hover{	
	height:450px;	
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
	
  }
}

.post-meta {  
  font-size: $small-font-size;
  color: #AAAAAA;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  color: #AAAAAA;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  
  max-width:1080px;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
  
  
  
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  
  max-width:1080px;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
  
  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {    
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
	
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  color:#e8e8e8;
  margin:0 0 10px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}
a {
  color:#ffcc00;
  font-weight:400;
  text-decoration:none;
  
  &:hover {
    color: #ffeb9b;
  }
  &:link {
    color: #E87400;
  }
  &:visited {
    color:#E87400;
  }
  
}

body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font:14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#f0e7d5;
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
  background: linear_gradient(#2a2a29, #1c1c1c);
}


.list-div{	    
	line-height: 48px;
	display:inline;	
	float:left;
	width: 256px;
	
}

.wrapper2 {
  max-width:90%;  
  margin:0 auto;
  position:relative;
  padding: 0 0px;
}

.wrapper {
  max-width:650px;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
}

 


