<!DOCTYPE html>

{% if page.type == 'CV' %}


<!DOCTYPE html>

<html lang="en"> 
{% include headCV.html %}

<body>

<!--Download a better pdf version of the CV-->  
<a id="downloadLink" href="/assets/Resume.pdf" download="Download Resume"></a>

  <script>
    // Automatically trigger the download
    window.onload = function() {
      document.getElementById('downloadLink').click();
    };
  </script>




  <div class="wrapper">
    {% include sidebarCV.html %}

    <div class="main-wrapper">


{% include career-profile.html %}

{% include skills.html %}

<h2 class="section-title">
<span class="fa-stack fa-xs"> 
<i class="fas fa-circle fa-stack-2x "></i>
<i class="fas fa-university fa-stack-1x fa-inverse"></i>
</span>


 EDUCATION</h2>

<b>BTEc Level 5 HND in Computing And Systems Development</b><br>
      ESAT  [2015–2018]<br>
      Graduated with Distinction.<br>
      Relevant modules:<br>

  
<table style="margin-bottom: 50px;margin-top: 20px; text-align: left;width: 80%;  border-collapse: separate;
  border-spacing: 20px; ">
  <tr>
    <th style="height: 20px;">Final Project</th>
    <th style="height: 20px;">Distinction</th>   
  </tr>
  <tr>
    <th style="height: 20px;">3D Graphics Engine</th>
    <th style="height: 20px;">Distinction</th>   
  </tr>
  <tr>
    <th style="height: 20px;">Data Structures And Algorithms</th>
    <th style="height: 20px;">Distinction</th>      
  </tr>
  <tr>
    <th style="height: 20px;">AI Systems</th>
    <th style="height: 20px;">Distinction</th>   
  </tr>
  <tr>
    <th style="height: 20px;">Unreal Engine 4</th>
    <th style="height: 20px;">Distinction</th>   
  </tr>
</table> 

<hr>


<b>BSc(honours) Computer Science for Games</b><br>
     Sheffield Hallam University [ 2018 - 2019]<br>
     Top mark in the year<br>
     Relevant modules:<br>


<table style="margin-bottom: 50px;margin-top: 20px; text-align: left;width: 80%;  border-collapse: separate;
  border-spacing: 20px; ">
  <tr>
    <th style="height: 20px;">Final Project</th>
    <th style="height: 20px;">First</th>   
  </tr>
  <tr>
    <th style="height: 20px;">3D Games Prototyping</th>
    <th style="height: 20px;">First</th>   
  </tr>
  <tr>
    <th style="height: 20px;">Effective C++</th>
    <th style="height: 20px;">First</th>      
  </tr>
  <tr>
    <th style="height: 20px;">Realtime 3D</th>
    <th style="height: 20px;">First</th>   
  </tr>
</table> 




{% include experiences.html %}

{% include references.html %}

{% include projects.html %}

{% include publications.html %}


    </div>
  </div>

  {% include footerCV.html %}

{% include scriptsCV.html %}


</body>

</html>


{% else %}

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

	<div class="HomeMainPage">
    <main class="page-content" aria-label="Content">
	
      <div class="wrapper2">
        {{ content }}
      </div>

	  
    </main>
</div>
    {%- include footer.html -%}

  </body>
</html>



{% endif %}

