---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
   
    <h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2>
    
      {%- for post in site.posts -%}
	
	  <div class = "Container">	  
	  
	  	  
	  <div class = "ContainerImage">	    
	  <a href="{{ post.url | relative_url }}">
		<img src ={{ post.image}}> 
	  </a>
	  </div>
	  
	  <div class = "NoImageDiv">	    
	  
	  <div class = "ContainerTime">	    
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}	  
        <span class="post-meta">{{ post.date | date: date_format }}</span>
	  </div>	  
	  
	       	 
        <div class = "ContainerTitle">	    
		<h1>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>		 		  
		</div>	    
		  
        </h1>
		
		<div class = "ContainerDescription">	    		
            {{ post.description}}		             		  		 
		</div>	    
				
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        	  
	  </div>      
	  
	  </div>	
	
	  <!--<hr/ class = "lineClass">-->
      {%- endfor -%}
    

  
  
    
  {%- endif -%}

</div>
